body {
  background-color: #11cbe4;
}

h1 {
  font-size: 4rem;
  margin: 2rem 0 0;
  text-align: center;
}

.container {
  background-color: #ec0a73;
  font-size: 3.3rem;
  margin: 4rem auto;
  padding: 7rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-el {
  border: 4px solid burlywood;
  margin: 0 0.7rem;
  padding: 1.3rem 1.7rem;
}

input {
  font-size: 2rem;
  margin: 0 0.7rem;
  padding: 7px 10px;
  width: 17rem;
  outline: none;
}

.btn {
  border: 1px solid #ffc107;
  border-radius: 5px;
  background-color: transparent;
  color: #ffc107;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 0 0 10px;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #ffc107;
  color: black;
}