:root {
  font-size: 17px;
}

#container {
  background-color: cornflowerblue;
  width: 40vw;
  padding: 2rem 0 4rem;
  margin: 10rem auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#container h1 {
  font-size: 2.5rem;
}

#container p {
  font-size: 1.5rem;
  margin: 0.8rem 0;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

#container p input {
  outline: none;
}