body {
  background-color: #333;
}

#container {
  background-color: yellow;
  width: 30vw;
  margin: 6rem auto;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}

.form-input label {
  font-size: 20px;
}

.form-input input {
  outline: none;
}

button {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  margin: 20px 0 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover{
  background-color: #111;
  color: #fff;
}

#result {
  color: mediumblue;
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0;
}

.weightguide {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weightguide h2 {
  margin: 10px;
  text-align: center;
}

.weightguide p {
  margin: 5px;
}