div {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
  width: 250px;
  height: 80px;
  background-color: blue;
  color: white;
}

button:hover {
  background-color: lightgreen;
  color: #000;
}

p {
  font-size: 35px;
}
