.container {
  background-color: royalblue;
  color: white;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  margin: 5rem auto;
  padding: 1.5rem 2rem;
  text-align: center;
  width: 65%;
}

h3 {
  margin: 0;
  font-size: 1.8rem;
}

#question {
  background-color: yellow;
  color: black;
  border-radius: 7px;
  margin: 10px;
  padding: 7px 10px;
}

#opt-grp {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}

#opt-grp div {
  margin: 5px 0;
}

#opt-grp input[type=radio] {
  transform: scale(1.1);
}

.btn {
  background-color: red;
  color: ivory;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 7px;
  font-size: 1.2rem;
  margin: 10px;
  padding: 7px 13px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: red;
}